# A linear  regression model to predict the temperatue of inner room base on the temperature of outside

# GETTING DATA

In [181]:
import numpy as np
import pandas as pd
data=pd.read_csv( 'energydata_complete.csv') 
data.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

# CHECKING FOR MISSING VALUE

In [182]:
missing_values_count=data.isnull().sum()
missing_values_count

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [183]:
data= data.drop(columns=['date','lights'])

In [184]:
data

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

# SCALING THE DATA

In [185]:
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()

In [186]:
norm_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [187]:
#Getting the independent and dependent variable
Temp_living_room =norm_data[['T2']]
Temp_outside =norm_data[['T6']]

In [188]:
Temp_living_room

             T2
0      0.225345
1      0.225345
2      0.225345
3      0.225345
4      0.225345
...         ...
19730  0.711655
19731  0.701769
19732  0.692651
19733  0.677054
19734  0.666171

[19735 rows x 1 columns]

In [189]:
Temp_outside

             T6
0      0.381070
1      0.375443
2      0.367487
3      0.363800
4      0.361859
...         ...
19730  0.898317
19731  0.880852
19732  0.864260
19733  0.829525
19734  0.788580

[19735 rows x 1 columns]

#  split and training the model

In [190]:
from sklearn.model_selection import train_test_split 
T2_train,T2_test, T6_train,T6_test = train_test_split(Temp_living_room,Temp_outside,test_size= 0.3, random_state=42)

In [191]:
from sklearn.linear_model import LinearRegression
model_T=LinearRegression()
model_T.fit(T2_train,T6_train)

LinearRegression()

In [192]:
predicted_Temp_living_room = model_T.predict(T2_test)
predicted_Temp_living_room

array([[0.23928945],
       [0.46794238],
       [0.23108472],
       ...,
       [0.3001772 ],
       [0.4297256 ],
       [0.3217686 ]])

# Evaluating the model

In [193]:

from sklearn import metrics

meanAbErr = metrics.mean_absolute_error(T6_test,predicted_Temp_living_room)
meanSqErr = metrics.mean_squared_error(T6_test,predicted_Temp_living_room)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(T6_test,predicted_Temp_living_room))
r2=metrics.r2_score(T6_test, predicted_Temp_living_room)
rss = np.sum(np.square(T6_test-predicted_Temp_living_room))

In [194]:
print("mean_absolute_error:",meanAbErr )
print("mean_squared_error:",meanSqErr)
print("root mean_squared_error:",rootMeanSqErr )
print("r2_score:",r2)

mean_absolute_error: 0.08216970202681716
mean_squared_error: 0.011166285957258442
root mean_squared_error: 0.10567064851347531
r2_score: 0.6427789637197383

# RIDGE AND LASSO REGRESSION

In [195]:
from sklearn.linear_model import Ridge 
ridge_reg1 = Ridge(alpha= 0.4 ) 
ridge_reg1.fit(x_train, y_train)

Ridge(alpha=0.4)

In [196]:
ridge_predict=ridge_reg1.predict(x_test)

In [197]:
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(T6_test,ridge_predict))
rootMeanSqErr

0.36628913461748597

In [199]:
from sklearn.linear_model import Lasso 
lasso_reg1 = Lasso(alpha=0.001  ) 
lasso_reg1.fit(x_train, y_train)

Lasso(alpha=0.001)

In [200]:
lasso_predict=lasso_reg1.predict(x_test)

In [201]:
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(T6_test,lasso_predict))
rootMeanSqErr

0.3675840898211613

In [202]:
#comparing the effects of regularisation 
def get_weights_df(model, feat, col_name) : 
 #this function returns the weight of every feature
    weights1 = pd.Series(model.coef_, feat.columns).sort_values() 
    weights1_data = pd.DataFrame(weights1).reset_index() 
    weights1_data.columns = [ 'Features' , col_name] 
    weights1_data[col_name].round( 3 ) 
    return weights1_data

In [203]:
linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight' ) 
ridge_weights_data = get_weights_df(ridge_reg1, x_train, 'Ridge_Weight' ) 
lasso_weights_data = get_weights_df(lasso_reg1, x_train, 'Lasso_weight' )

In [204]:
final_weights = pd.merge(linear_model_weights, ridge_weights_data, on= 'Features' ) 
final_weights = pd.merge(final_weights, lasso_weights_data, on= 'Features' )

In [205]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [207]:
final_weights.sort_values(by=linear_model_weights)

KeyError:        Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547